.masterListContainer {
    float: left;
    width: 30%;
    overflow: scroll;
    background-image: url('../navy_blue.png');
    color: white;
    margin-right: 20px;
    padding: 5px;
}
  
.masterListTable {
    width: 100%;
}
  
.masterListPriceColumn {
    text-align: right;
}